@model ASP.NET_DnD_App.Models.FullCharacterSheet

@{
    ViewData["Title"] = "Create a Character";
}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<div data-aos="fade-up" data-aos-duration="800">
    <h1>Create a Character</h1>
</div>

<hr />
<form method="post" class="needs-validation" novalidate>
    <div data-aos="fade-up" data-aos-duration="1000">
        <label class="col-sm-2 col-form-label" asp-for="CharacterName">Character Name</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="CharacterName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Character Name is required!
            </div>
        </div>
    </div>
    <br />
    <div data-aos="fade-up" data-aos-duration="1200">
        <label class="col-sm-2 col-form-label" asp-for="CharacterName">Class</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="ClassName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Class is required!
            </div>
        </div>
    </div>
    <br />
    <div data-aos="fade-up" data-aos-duration="1400">
        <label class="col-sm-2 col-form-label" asp-for="CharacterName">Hairstyle</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="HairStyle" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Hairstyle is required!
            </div>
        </div>
    </div>
    <br />
    <div data-aos="fade-up" data-aos-duration="1600">
        <label class="col-sm-2 col-form-label" asp-for="CharacterName">Hair Color</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="HairColor" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Hair Color is required!
            </div>
        </div>
    </div>
    <br />
    <div data-aos="fade-up" data-aos-duration="1800">
       <label class="col-sm-2 col-form-label" asp-for="CharacterName">Eye Color</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="EyeColor" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Eye Color is required!
            </div>
        </div>
    </div>
    <br />
    <div data-aos="fade-up" data-aos-duration="2000">
        <label class="col-sm-2 col-form-label" asp-for="CharacterName">Skin Type</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="SkinType" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Skin Type is required!
            </div>
        </div>
    </div>
    <br />
    <div data-aos="fade-up" data-aos-duration="2200">
        <label class="col-sm-2 col-form-label" asp-for="CharacterName">Race</label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="RaceName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Race is required!
            </div>
        </div>
    </div>
    <br />
    <br />
    <div data-aos="fade-up" data-aos-duration="2400">
        <div class="form-group">
            <input type="submit" value="Create Character" class="btn btn-success" />
        </div>
    </div>
</form>
    <br />
    <br />
<div data-aos="fade-up" data-aos-duration="2700">
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
    <br />
    <br />
    <br />

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
