@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NET_DnD_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: transparent">
        <div class="container-fluid">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">ASP.NET_DnD_App</a>
            <button style="background-color: azure" class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
                            </li>
                            <li class="nav-item">
                                <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Campaign" asp-action="Index">Campaign</a>
                            </li>

                            @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User),"Dungeon Master"))
                            {
                                <li class="nav-item">
                                    <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Invite" asp-action="Index">Invite</a>
                                </li>
                                @if(ViewData["InviteIndex"] != null)
                                {
                                    <li class="nav-item">
                                        <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Invite" asp-action="Invite">Invite Player</a>
                                    </li>
                                }
                            }

                            @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User),"Basic Player"))
                            {
                                <li class="nav-item">
                                    <a id="navLink" class="nav-link text-light" asp-area="" asp-controller="Invite" asp-action="AcceptInvite">Enter Invite Code</a>
                                </li>
                            }
                            
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center ">
        <div class="container text-light">
            &copy; 2021 - ASP.NET_DnD_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
