@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


<div data-aos="fade-up" data-aos-duration="1500">
    <div class="text-center">
        <h1 class="display-3">Welcome</h1>
    </div>
</div>

<!-- <div data-aos="fade-up" data-aos-duration="1500"></div> -->

<div data-aos="fade-up" data-aos-duration="1500">
    <div class="text-center">
        <div class="top-content">
            <p >This website is used to create a basic Dungeon & Dragons Character creater</p>
        </div>
    </div>
</div>

<div data-aos="fade-up" data-aos-duration="1500">
    <div class="text-center">
        <div class="content">
            <p >
                You can create an account and manage your characters. Ex. Create update delete characters. Its super easy to set up an account 
                and start the adventure of creating and managing your Dungeons & Dragons characters.
            </p>
            <p>
                There are many races in DnD <a asp-controller="Races" asp-action="Elves">Elves, </a><a asp-controller="Races" asp-action="Dwarves">Dwarves, </a>
                <a asp-controller="Races" asp-action="Dragonborn">Dragonborn, </a><a asp-controller="Races" asp-action="Gnomes">Gnomes, </a><a asp-controller="Races" asp-action="Half_Elves">Half Elves, </a>
                <a asp-controller="Races" asp-action="Half_Orcs">Half Orcs, </a><a asp-controller="Races" asp-action="halfings">Halfings, </a><a asp-controller="Races" asp-action="Humans">Humans, </a>and
                <a asp-controller="Races" asp-action="Tieflings">Tieflings.</a> there are many more races.<br/>home brewed games can have many diffrent races and classes. 

            </p>
        </div>
    </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>