@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dragonborn";
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ravenite</td>
      <td>Common, Draconic</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 STR, 1 CON</td>
    </tr>
    <tr>
      <td>Draconblood</td>
      <td>Common, Draconic</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 INT, 1 CHA</td>
    </tr> 
</tbody>
</table>
