@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dwarves";
}
<p>In the table below you will see a few of the subraces of Dwarves and their speed,langueges and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gray (Duergar)</td>
      <td>	Undercommon</td>
      <td>Medium</td>
      <td>25</td>
      <td>2 CON, 1 STR</td>
    </tr>
    <tr>
      <td>Hill Dwarf</td>
      <td>Common, Dwarf</td>
      <td>Medium</td>
      <td>25</td>
      <td>2 CON, 1 WIS</td>
    </tr>
    <tr>
      <td>Mark of Warding Dwarf</td>
      <td>Common, Dwarf</td>
      <td>Medium</td>
      <td>25</td>
      <td>2 CON, 1 DEX</td>
    </tr>
    <tr>
      <td>Mountain Dwarf</td>
      <td>Common, Dwarf</td>
      <td>Medium</td>
      <td>25</td>
      <td>2 CON, 2 STR</td>
    </tr>
</tbody>
</table>