@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "Elves";
}
<p>In the table below you will see a few of the subraces of Elves and their speed,langueges and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Aereni High Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td>Aereni Wood Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 WIS</td>
    </tr>
    <tr>
      <td>Drow</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td>Eladrin</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td>Eladrin (Variant)</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td>High Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td>Mark of Shadow</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td>Sea Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td>Shadar Kai</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td>Valenar High Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td>Valenar Wood Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 WIS</td>
    </tr>
    <tr>
      <th>Wood Elf</th>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 Dex, 1 Wis</td>
    </tr>
  </tbody>
</table>