@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "Elves";
}
<p>In the table below you will see a few of the subraces of Elves and their speed, languages and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="AereniHighElfOnClick()">Aereni High Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="AereniWoodElfOnClick()">Aereni Wood Elf</button>Aereni Wood Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 WIS</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="DrowOnClick()">Drow</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="EladrinElfOnClick()">Eladrin Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="HighElfOnClick()">High Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="MarkofShadowElfOnClick()">Mark of Shadow Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="SeaElfOnClick()">Sea Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="ShadarKaiOnClick()">Shadar Kai</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="ValenarHighElfOnClick()">Valenar High Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="ValenarWoodElfOnClick()">Valenar Wood Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 WIS</td>
    </tr>
    <tr>
      <th><button id="hi" type="button" class="btn btn-link" onclick="WoodElfOnClick()">Wood Elf</button></th>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 Dex, 1 Wis</td>
    </tr>
  </tbody>
</table>
<p style="display=none" class="Des" id="Des"></p>
<script>
    function AereniHighElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "These elves are from Aerenal, a place ruled by the undying court, a council of undead elves sustained by positive energy. Other than origin this high elf will be the same as a normal high elf.";
        p.style.display = "block";
    }
    function AereniWoodElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "These elves are from Aerenal, a place ruled by the undying court, a council of undead elves sustained by positive energy. Other than origin this Wood elf will be the same as a normal Wood elf.";
        p.style.display = "block";
    }
    function DrowOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "This elf goes by many names such as Dark Elf, Deep Elf, Night Elf and The Ones who went Below. The last name is given to them by the elves on the surface. these elves predominantly lived in the Underdark and are hated and feared due to their cruelty.";
        p.style.display = "block";
    }
    function EladrinElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "These elves are graceful warriors and wizards that originated from the realm of Faerie, also known as the Feywild. Many people say these are high elves but they are the purest of all elves and closest to the Fae just reacently leaving the Feywild.";
        p.style.display = "block";
    }
    function HighElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "High elves are roughly of human height, standing between 5'5 and 6'1 on average, but are lighter, weighing in between 130 to 180 lbs. Although most high elves reside in isolated communities of their kin, a few have interests or dealings in the outside world, and it’s not uncommon to find high elves living among dragonborn, dwarves, elves, gnomes, halflings, humans, and tieflings. These elves were the closest to the Fae till the Eladrin came out of the Feywild";
        p.style.display = "block";
    }
    function MarkofShadowElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "Elves have carried the Mark of Shadow for thousands of years. This can be any type of elf, the mark of shadow is more of a house hold of many races. This house hold gives certain benefits. Some benefits are your Charisma score increases by 1, When you make a Charisma (Performance) or Dexterity (Stealth) check, you can roll a d4 and add the number rolled to the ability check, and You know the minor illusion cantrip. Starting at 3rd level, you can cast the invisibility spell once with this trait, and you regain the ability to cast it when you finish a long rest.";
        p.style.display = "block";
    }
    function SeaElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "these elves are called Alu'Tel'Quessir in their own tongue and also called Aquatic elves by others.Aquatic elves were isolationist by both their nature and the physical location of their settlements, although they were not quite as reclusive as the wild elves.However, despite being extremely cautious, they were also extremely curious, and aquatic elves near the shore would often spend a significant amount time secretly observing the land-bound races.they are the least magical of the elven subraces and had fewest innate magical gifts. However, they were deeply in touch with their environment, even more so than other races.";
        p.style.display = "block";
    }
    function ShadarKaiOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "Shadar-kai favored the path of the rogue, and these were the most frequent among them. Many others were clerics or wizards. These spellcasters had a predilection for illusion and shadow magic. Due to their prolonged exposure to the Shadowfell, shadar-kai were nearly devoid of emotion. Some shadar-kai resembled blighted elves, in a perpetual zombie-like state, while others were human-like in appearance.";
        p.style.display = "block";
    }
    function ValenarHighElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "These elves  are dedicated to the arts of war. Millenia ago, your ancestors fought an epic war against mighty giants and are constantly seeking out conflict to find challenges worthy of a hero.Valenar elf gains proficiency with the scimitar, double scimitar, longbow, and shortbow. Other than that its the same as a normal high elf.";
        p.style.display = "block";
    }
    function ValenarWoodElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "These elves  are dedicated to the arts of war. Millenia ago, your ancestors fought an epic war against mighty giants and are constantly seeking out conflict to find challenges worthy of a hero.Valenar elf gains proficiency with the scimitar, double scimitar, longbow, and shortbow.  Other than that its the same as a normal Wood elf.";
        p.style.display = "block";
    }
    function WoodElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = "Wood elves were easily identifiable by their coppery skin and green, brown, or hazel eyes. wood elves were largely seen as calm and level-headed. also known as copper elves,[1] or Or-tel-quessir were the most populous of the elven races. Wood elves saw themselves as guardians of the Tel-quessir forest homes which were mostly abandoned after the Crown Wars. Unlike most elves they did not view themselves as a people apart from the rest of Faerûn these elves were not deep in the forest hidden but guarding the entrances .";
        p.style.display = "block";
    }
</script>