@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "Elves";
}
<p>In the table below you will see a few of the subraces of Elves and their speed, languages and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="AereniHighElfOnClick()">Aereni High Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="AereniWoodElfOnClick()">Aereni Wood Elf</button>Aereni Wood Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 WIS</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="DrowOnClick()">Drow</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="EladrinElfOnClick()">Eladrin Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="HighElfOnClick()">High Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="MarkofShadowElfOnClick()">Mark of Shadow Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CHA</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="SeaElfOnClick()">Sea Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="ShadarKaiOnClick()">Shadar Kai</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 CON</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="ValenarHighElfOnClick()">Valenar High Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td><button id="hi" type="button" class="btn btn-link" onclick="ValenarWoodElfOnClick()">Valenar Wood Elf</button></td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 WIS</td>
    </tr>
    <tr>
      <th><button id="hi" type="button" class="btn btn-link" onclick="WoodElfOnClick()">Wood Elf</button></th>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 Dex, 1 Wis</td>
    </tr>
  </tbody>
</table>
<p style="display=none" class="Des" id="Des"></p>
<script>
    function AereniHighElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function AereniWoodElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function DrowOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function EladrinElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function HighElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function MarkofShadowElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function SeaElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function ShadarKaiOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function ValenarHighElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function ValenarWoodElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
    function WoodElfOnClick() {
        var p = document.getElementById("Des");
        p.innerText = " ";
        p.style.display = "block";
    }
</script>