@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gnomes";
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Forest Gnomes</td>
      <td>Common, Gnomish</td>
      <td>Small</td>
      <td>25</td>
      <td>2 INT, 1 DEX</td>
    </tr>
    <tr>
      <td>Mark of Scribing Gnomes</td>
      <td>Common, Gnomish</td>
      <td>Small</td>
      <td>25</td>
      <td>2 INT, 1 CHA</td>
    </tr>
    <tr>
      <td>Rock Gnomes</td>
      <td>Common, Gnomish</td>
      <td>Small</td>
      <td>25</td>
      <td>2 INT, 1 CON</td>
    </tr>
    <tr>
      <td>Deep Gnomes</td>
      <td>Common, Gnomish</td>
      <td>Small</td>
      <td>25</td>
      <td>2 INT, 1 DEX</td>
    </tr>
</tbody>
</table>
