@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Half Orcs";
}
<p>In the table below you will see a few of the subraces of Half orcs and their speed, languages and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark of Finding</td>
      <td>Common, Orc</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 WIS, 1 CON</td>
    </tr>
</tbody>
</table>
<!-- This is an empty P(paragraph) so descriptions can show up when linked subrace name clicked  -->
<p style="display=none" class="Des" id="Des"></p>
<!-- Each function is set for one sub race to give as brief description -->