@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dwarves";
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Half-Aquatic</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 ASI</td>
    </tr>
    <tr>
      <td>Half-Drow</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 ASI</td>
    </tr>
    <tr>
      <td>Half-High</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 ASI</td>
    </tr>
    <tr>
      <td>Mark of Detection</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 WIS, 1 ASI</td>
    </tr>
    <tr>
      <td>Mark of Storm</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 DEX</td>
    </tr>
    <tr>
      <td>Half-Wood-Elf</td>
      <td>Common, Elvish</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 ASI</td>
    </tr>
</tbody>
</table>
