@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Humman";
}
<p>In the table below you will see a few of the subraces of Humans and their speed,langueges and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark of Finding</td>
      <td>Common, 1 Additional(of your choosing)</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 WIS, 1 CON</td>
    </tr>
    <tr>
      <td>Mark of Handling</td>
      <td>Common, 1 Additional(of your choosing)</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 WIS, 1 ASI</td>
    </tr>
    <tr>
      <td>Mark of Making</td>
      <td>Common, 1 Additional(of your choosing)</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 INT, 1 ASI</td>
    </tr>
    <tr>
      <td>Mark of Passage</td>
      <td>Common, 1 Additional(of your choosing)</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 ASI</td>
    </tr>
    <tr>
      <td>Mark of Sentinel</td>
      <td>Common, 1 Additional(of your choosing)</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CON, 1 WIS</td>
    </tr>
    <tr>
      <td>Varuant</td>
      <td>Common, 1 Additional(of your choosing)</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 ASI</td>
    </tr>
    
</tbody>
</table>
