@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tiefling";
}
<p>In the table below you will see a few of the subraces of Tiefling and their speed,langueges and ability modifiers.This table only shows the most common subraces.There can be many more.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">race</th>
      <th scope="col">Language</th>
      <th scope="col">size</th>
      <th scope="col">Speed</th>
      <th scope="col">Ability Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Asmodeus Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 INT</td>
    </tr>
    <tr>
      <td>Baalzebul Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 INT</td>
    </tr>
    <tr>
      <td>Dispater Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 DEX</td>
    </tr>
    <tr>
      <td>Feral Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 DEX, 1 INT</td>
    </tr>
    <tr>
      <td>Fierna Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 WIS</td>
    </tr>
    <tr>
      <td>Glasya Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 DEX</td>
    </tr>
    <tr>
      <td>Levistus Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 CON</td>
    </tr>
    <tr>
      <td>Mammon Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 INT</td>
    </tr>
    <tr>
      <td>Mephistopheles Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 INT</td>
    </tr>
    <tr>
      <td>Variant Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 INT</td>
    </tr>
    <tr>
      <td>Zariel Tiefling</td>
      <td>Common, Infernal</td>
      <td>Medium</td>
      <td>30</td>
      <td>2 CHA, 1 STR</td>
    </tr>
</tbody>
</table>
