@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Thank you";
}

<h1 class="fw-light">Thank You For Singning Up With Us!</h1>
<br />
<br />
<h4 class="fw-light">There was an email confirmation sent to your email</h4>
<br />
<br />
<a asp-controller="Home" asp-action="Index">Return to Home</a>
