@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<div class="row">
    <form id="account" method="post">
        <div data-aos="fade-up" data-aos-duration="900">
            <h1>@ViewData["Title"]</h1>
        </div>
        <hr />
        <div data-aos="fade-up" data-aos-duration="1000">
            <label class="col-sm-2 col-form-label" asp-for="Input.UsernameOrEmail">Username or Email</label>
            <div class="col-sm-3">
                <input class="form-control" asp-for="Input.UsernameOrEmail">
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1200">
            <label class="col-sm-2 col-form-label" asp-for="Input.Password">Password</label>
            <div class="col-sm-3">
                <input class="form-control" asp-for="Input.Password">
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1300">
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1500">
            <div class="form-group">
                <input id="login-submit" type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
