@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<div class="row">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div data-aos="fade-up" data-aos-duration="900">
            <h1>@ViewData["Title"]</h1>
        </div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="col-sm-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1200">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-3">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1300">
            <div class="col-sm-3">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1500">
            <div class="col-sm-3">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div data-aos="fade-up" data-aos-duration="1600">
        <div class="form-group">
            <input id="registerSubmit" type="submit" value="Register" class="btn btn-primary" />
        </div>
    </div>
    </form>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
