@model ASP.NET_DnD_App.Models.InviteCode
@{
}
<h1>Enter Invite Code</h1>
<hr />

<br />
<form asp-action="AcceptInvite">
    <div class="input-group mb-3">
        <input asp-for="Code" type="number" class="form-control" placeholder="Invite Code" aria-label="Invite Code">
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>