@model ASP.NET_DnD_App.Models.CampaignPlayers

@{
    ViewData["Title"] = "DeletePlayer";
}

<h1 style="text-align:center">DeletePlayer</h1>
<div>
    <hr />
    <dl class="row">
        <h5 class = "col-sm-10">
            <strong>Username:</strong> @Model.BasicPlayer.UserName
        </h5>
        <h5 class = "col-sm-10">
            <strong>Campaign Id:</strong> @Model.CampaignId
        </h5>
    </dl>
    <br />

    <form asp-action="DeletePlayer">
        <input type="hidden" asp-for="PlayerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
