@using Microsoft.AspNetCore.Identity
@model IEnumerable<ASP.NET_DnD_App.Models.CampaignPlayers>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor http

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/CampaignIndex.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/~/css/site.css" asp-append-version="true" />

<h1>View Your Campaign Members</h1>

<br />
<br />

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @{
                string prevUrl = http.HttpContext.Request.Path;

            }

            @{
                if(ViewData["DungeonMaster"] != null) // Make DungeonMaster the first row of the table
                {
                    IdentityUser dungeonMaster = ViewData["DungeonMaster"] as IdentityUser;

                    <tr>
                        <td><strong>@dungeonMaster.UserName</strong></td>
                        <td><strong>Dungeon Master</strong></td>
                        <td>
                            <a class="btn" style="display: none">Delete</a> <!--Only do this to get the table rows to line up with the Dungeon Master's role-->
                        </td> 

                    </tr>

                }
            }
            @foreach(CampaignPlayers player in Model)
            {
                <tr>
                    <td>@player.BasicPlayer.UserName</td>
                    <td>Basic Player</td>
                    @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Dungeon Master")) // Only display delete button if you're the Dungeon Master
                    {
                        <td>
                            <a class="btn btn-danger" asp-route-PlayerId="@player.PlayerId" asp-action="DeletePlayer">Delete</a>
                        </td>
                    }

                    else
                    {
                        <td>
                            <a class="btn" style="display: none">Delete</a> <!--Do this for the same reason we do it for Dungeon Masters-->
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
