@model IEnumerable<ASP.NET_DnD_App.Models.CampaignPlayers>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/~/css/site.css" asp-append-version="true" />

<h1>View Your Campaign Members</h1>

<br />
<br />

<a class="nav-link" asp-area="" asp-controller="Invite" asp-action="Index">Invite Player</a>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table"> <!--This will display all the Dungeon Masters's campaign players-->

</table>
