body {
    background-image: url(../Photos/dnd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    color: oldlace;
    font-family: fantasy;
}

.top-content {
    margin-top: 32vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: oldlace;
}


.content {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: oldlace;
}

th {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: oldlace;
}

td {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: oldlace;
}
