body {
    background-image: url(../Photos/dnd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    background-color: black;
    font-family: Centaur;
}

.top-content {
    margin-top: 32vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
}


.content {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: azure;
}

td {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1em;
    max-width: 50%;
    text-align: center;
    color: azure;
}

tbody {
    opacity: 0.9;
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    background-color: gray;
    color: azure;
}

thead {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.8em;
    max-width: 50%;
    text-align: center;
    color: azure;
}

h1 {
    font-size: 4em;
    color: azure;
    text-align: center;
}