body {
    background-image: url(../Photos/DnD-BackgroundImage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

top-content {
    margin-top: 32vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: darkblue;
}


.content {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.4em;
    max-width: 50%;
    text-align: center;
    color: azure;
}
