header {
    background-color: #2F3238;
}

footer {
    background-color: #2F3238;
}

body {
    background-image: url(../Photos/dndsunset.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    font-family: Centaur;
    text-align:center;
}

.top-content {
    margin-top: 32vh;
    margin-left: 25%;
    font-size: 1.7em;
    max-width: 50%;
    text-align: center;
}


.content {
    margin-top: 70vh;
    margin-bottom: 32.5vh;
    margin-left: 25%;
    font-size: 1.7em;
    max-width: 50%;
    text-align: center;
}

.container {
    color: azure;
}

.row {
    margin-top:auto;
    margin-bottom:auto;
}

.aos-init {
    margin-top:auto;
    margin-bottom:auto;
}
