body {
    background-image: url(../Photos/DnD-BackgroundImage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;

    color: azure;
}
