body {
    background-image: url(../Photos/ArcherBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    color: azure;
    font-family: Centaur;
}

h1 {
    font-size: 4em;
    text-align:center;
    color: azure;
}

.back-list {
    width: fit-content;
}
